{% extends 'base.html' %}

<div class="container container-fluid">
	
{% block header %}
  <h1>{% block title %}{{title}}{% endblock %}</h1>
    Showing {{offset}}- {{offset+size}} of {{count}} results
    <form method="GET" action="{{url_for('likes')}}">
		<select name="blog_name">
			<option  >----</option>
			{% for blog in blogs %}
			<option {{'selected' if blog == blog_name}} value="{{blog}}">{{blog}}</option>
			{% endfor %}
		</select>
		<input type="submit" name="">
	</form>
{% endblock %}

{% block content %}

{% for post in posts %}

	
            {% for photo in post.photos %}
            <img width="400px" src="{{photo.original_size.url|local}}" class="img-fluid">
            {% endfor %}
       

{% endfor %}
{% include "likes/pagination.html" %}
<div class="fixed-bottom">
    <a class="btn btn-primary" href="{{prev}}">Prev</a>
    <a class="btn btn-primary float-right" href="{{next}}">Nexts</a>
</div>
    <link  href="{{url_for('static',filename='node_modules/viewerjs/dist/viewer.css')}}" rel="stylesheet">
    <script src="{{url_for('static',filename='node_modules/viewerjs/dist/viewer.js')}}"></script>

    <script>
    var likes = {{like_list|safe}};
    </script>
    <script src="/static/js/post.js"></script>
{% endblock %}
</div>
