<div class="card post-card">
    <div class="card-header bg-white border-bottom py-2">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-2">
                {% if post.type == 'photo' %}
                <span class="post-type-icon" data-bs-toggle="tooltip" title="Photo Post">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                        <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                    </svg>
                </span>
                {% elif post.type == 'text' %}
                <span class="post-type-icon" data-bs-toggle="tooltip" title="Text Post">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                        <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                    </svg>
                </span>
                {% elif post.type == 'video' %}
                <span class="post-type-icon" data-bs-toggle="tooltip" title="Video Post">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M6.271 5.055a.5.5 0 0 1 .79 0l3.5 2.5a.5.5 0 0 1 0 .89l-3.5 2.5a.5.5 0 0 1-.79-.89L9.44 8 6.271 5.945a.5.5 0 0 1 0-.89z"/>
                    </svg>
                </span>
                {% elif post.type == 'link' %}
                <span class="post-type-icon" data-bs-toggle="tooltip" title="Link Post">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                        <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                    </svg>
                </span>
                {% elif post.type == 'answer' %}
                <span class="post-type-icon" data-bs-toggle="tooltip" title="Answer Post">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text" viewBox="0 0 16 16">
                        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                        <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                </span>
                {% else %}
                <span class="post-type-icon" data-bs-toggle="tooltip" title="{{post.type|title}} Post">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                        <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                    </svg>
                </span>
                {% endif %}
                <a href="{{post.post_url}}" target="_blank" class="text-decoration-none fw-bold text-primary">
                    {{post.blog_name}}
                </a>
                {% if post.liked_timestamp %}
                <span class="text-muted small" data-bs-toggle="tooltip" title="{{post.date or ''}}">
                    • {{post.liked_timestamp | relativetime}}
                </span>
                {% endif %}
            </div>
            <a href="{{url_for('blog', code=post.id)}}" class="text-decoration-none text-muted" title="View full post">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="card-body p-2">
        {% if post.type == "video" %}
        <div class="mb-2">
            {{post.player[0]["embed_code"] | safe }}
        </div>
        {% endif %}
        {% if post.type == 'text' %}
        <div class="mb-2 post-text-content" id="images_{{post.id}}">{{post.body |ttimages|safe}}</div>
        {% endif %}
        {% if post.photos %}
        <div id="images_{{post.id}}" class="mb-2 post-images-gallery">
            {% for photo in post.photos %}
            <div class="post-image-container">
                <img src="{{photo.original_size.url|local}}" class="post-image" alt="Post image" loading="lazy">
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% if post.caption %}
        <p class="card-text text-muted small mb-2" data-bs-toggle="tooltip" title="{{post.summary or ''}}">
            {{post.caption|safe}}
        </p>
        {% endif %}
        <div class="d-flex gap-2 mt-2">
            <button class="btn btn-sm btn-danger" onclick="unlike({{post.id}},'{{post.reblog_key}}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-heart-break" viewBox="0 0 16 16">
                    <path d="M8.867 14.41c13.308-9.322 4.79-16.563.064-13.824L7 3l1.5 4-2 3L8 15a38.094 38.094 0 0 0 .867-.59Zm-.303-1.01-.971-3.237 1.74-2.608a1 1 0 0 0 .103-.906l-1.3-3.468a1 1 0 0 0-.33-.377l-3.485-2.853a.5.5 0 0 0-.631.09L3.117 4.5a.5.5 0 0 0 .067.69l.856.9 1.813 4.805a1 1 0 0 0 .529.628l1.582.59Zm-1.75-2.647-4.157-5.024L1 4.633l2.5 1.5.5 1.5-1.001 1.497 1.646 1.647a.5.5 0 0 1-.708.708l-1.646-1.647L1.5 9.5l.5-1.5 1.5-1.5 1 1.5-1.5 1.5-1-1.5-1.5 1.5 1 1.5 1.5-1.5 1.5 1.5 1-1.5z"/>
                </svg>
                Unlike
            </button>
            <button class="btn btn-sm btn-outline-primary" onclick="like({{post.id}},'{{post.reblog_key}}')">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg>
                Like
            </button>
        </div>
    </div>
    {% if post.tags %}
    <div class="card-footer bg-light border-top py-2">
        <div class="d-flex flex-wrap">
            {% for tag in post.tags %}
            <a href="{{url_for('likes',tag=tag)}}" class="tag-link badge bg-primary text-white text-decoration-none">
                #{{tag}}
            </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>